.weather-current-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px 15px; }
  .weather-current-item p {
    margin: 0 0 4px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300; }
    .weather-current-item p:last-child {
      margin-bottom: 0; }
  .weather-current-item__head {
    color: #878787;
    margin-bottom: 40px; }
    .weather-current-item__head h2 {
      margin: 0 0 10px 0;
      font-size: 28px;
      line-height: 28px;
      font-weight: 300; }
  .weather-current-item__body {
    display: flex; }
    @media only screen and (max-width: 520px) {
      .weather-current-item__body {
        flex-direction: column; } }
    .weather-current-item__body__left {
      display: flex;
      width: 50%; }
      @media only screen and (max-width: 520px) {
        .weather-current-item__body__left {
          width: 100%;
          margin-bottom: 20px; } }
    .weather-current-item__body__right {
      width: 50%;
      color: #878787; }
      @media only screen and (max-width: 520px) {
        .weather-current-item__body__right {
          width: 100%; } }
      .weather-current-item__body__right p b {
        font-weight: normal; }
  .weather-current-item__img {
    margin-right: 10px; }
  .weather-current-item__temp {
    display: flex;
    align-items: flex-start; }
    .weather-current-item__temp b {
      font-weight: 400;
      font-size: 44px;
      line-height: 44px; }
