.weather-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 0 0; }

.weather-list-item {
  margin: 0 80px 40px 0;
  color: #878787; }
  .weather-list-item:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 480px) {
    .weather-list-item {
      width: 100%;
      margin: 0 0 40px 0; } }
  .weather-list-item h3 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 26px; }

.weather-list-hour {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .weather-list-hour span {
    margin-right: 15px;
    display: inline-block; }
    @media only screen and (max-width: 480px) {
      .weather-list-hour span {
        width: 33.3333%; } }
    .weather-list-hour span:last-child {
      margin-right: 0; }

.weather-list-temp {
  font-weight: 300; }
