.l-header {
  width: 100%;
  background: #0056c1;
  padding: 10px 0;
  color: #FFF;
  display: flex;
  align-items: center;
  height: 60px;
  transition: box-shadow; }
  .l-header .l-in {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; }
  .l-header__left {
    width: 33.333%; }
    @media only screen and (max-width: 680px) {
      .l-header__left {
        width: 0; } }
  .l-header__center {
    width: 33.333%;
    text-align: center; }
    @media only screen and (max-width: 680px) {
      .l-header__center {
        width: 66.666%;
        text-align: left; } }
  .l-header__right {
    width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
